__pycache__/
*.pyc
.venv/
.tbench-testing/
*.tar.xz
*.deb
*.o
*.a
*.so
arch/x86/boot/bzImage
vmlinux
.pytest_cache/
.DS_Store
# 忽略所有在 original-tasks 目录下的任务产生的编译临时产物
original-tasks/**/objtool/
original-tasks/**/scripts/
